.parent_chat {
	padding-top: 10vh;
	color: white;
	text-align: center;
}
.chat_person{
	display: flex;
	width: 100%;
	align-items: center;
	border-radius: 10px;
	background-color: rgb(232, 226, 226);
	padding: 4px;
	font-weight: 400;
	font-size: 24px;
	overflow-y: scroll;
	font-family: "Poppins", sans-serif;
	color: rgb(24, 12, 53);
	margin-bottom: 0;
	text-align: left;
}
.client {
	max-width: 40%;
	padding:10px;
	word-wrap: break-word;
	align-self: end;
	text-align: left;
	background-color:rgb(29, 153, 235);
	padding: 8px 16px;
	border-radius:25px 25px 0px 25px; 
}
.server {
	max-width: 40%;
	padding:10px;
	word-wrap: break-word;
	align-self:flex-start;
	text-align: left;
	background-color:rgb(255, 255, 255);
	padding: 8px;
	border-radius:25px 25px 25px 0px; 
	color: black;
	font-weight: 500;
}
.text{
	width: 100%;
	height: 30px;
	margin: 0px 10px;
	border: none;
	outline: none;
	border-right: 2px solid rgb(19, 13, 42);
}
.sendmessage{
	font-size: 1.5rem;
	border: none;
	padding: 0.3rem;
	background:none;
}
.sendmessage i{
	color: green;
}