.parent_chat {
	color: white;
	text-align: center;
	display: flex;
	gap: 0.3rem;
	padding: 5rem 5rem 2rem 5rem;
}
.person_details_main {
	display: flex;
	flex-direction: column;
	gap: 6px;
	width: 25%;
	background: rgb(255, 255, 255);
	border: 2px solid #ccc;
	border-radius: 20px 10px;
	padding: 8px 6px;
	cursor: default;
}
.chat_messages_main {
	width: 75%;
	border: 2px solid #ccc;
	border-radius: 20px 10px;
	background-color: #fff;
	height: 80vh;
}
.chat_person {
	display: flex;
	width: 100%;
	align-items: center;
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	padding: 4px;
	font-weight: 400;
	font-size: 24px;
	overflow-y: scroll;
	font-family: "Poppins", sans-serif;
	color: rgb(24, 12, 53);
	margin-bottom: 0;
	text-align: left;
}
.chat_person:hover {
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
		rgba(0, 0, 0, 0.37) 0px 0px 0px 1px;
}
.chat_shower {
	padding: 10px;
	height: 65vh;
	overflow-y: scroll;
	color: black;
	display: flex;
	flex-direction: column;
}
.selected {
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
		rgba(0, 0, 0, 0.37) 0px 0px 0px 1px;
}
.no_data {
	justify-content: center;
	align-items: center;
}
.client {
	max-width: 60%;
	word-wrap: break-word;
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	align-self: end;
	text-align: right;
	background-color: rgb(29, 153, 235);
	padding: 4px 14px 4px 18px;
	border-radius: 25px 10px;
}
.server {
	max-width: 60%;
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	word-wrap: break-word;
	align-self: flex-start;
	text-align: left;
	background-color: rgba(137, 145, 146, 0.726);
	padding: 4px 18px 4px 14px;
	border-radius: 25px 10px;
	color: black;
	font-weight: 500;
}
.text {
	width: 100%;
	height: 30px;
	margin: 0px 10px;
	border: none;
	outline: none;
	border-right: 2px solid rgb(19, 13, 42);
}
.sendmessage {
	font-size: 1.5rem;
	border: none;
	padding: 0.3rem;
	background: none;
}
.sendmessage i {
	color: green;
}
@media screen and (max-width:768px) {
	.parent_chat{
		padding: 1.5rem;
	}
	.person_details_main{
		width: 40%;
	}
	.chat_messages_main{
		width: 60%;
	}
}
/* .fa-sharp-duotone{
	position: absolute;
	animation-name: fly;
}

@keyframes fly {
	0%{
		tra: ;
	}
	
} */
